extends layout

block content
  h1= title

    ul
      li
        a(href='/categories/drama') Drama

      li
        a(href = "categories/thriller") Thriller
      
      li
        a(href = "categories/comedy") Comedy 

      li 
        a(href = "categories/mystery") Mystery 

      li 
        a(href = "categories/action") Action 

      li 
        a(href = "categories/musical") Musical

      li 
        a(href = "categories/western") Western


  
  

  