extends layout

block content
  h1= movie.title


  form(action="" method= "POST")
    div.form-group
      label(for = "title") Title: 
      input#title.form-control(for = "title" name = "title" type="text" value=(undefined===movie ? '' : movie.title))
      
      label(for = "director") Director: 
      input.form-control( id = "director" for = "director" name = "director" type = "text" value=(undefined===movie ? '' : movie.director))
      
      label(for = "category") Category: 
      input.form-control( id = "category" for = "category" name = "category" type = "text" value=(undefined===movie ? '' : movie.category))
      
      label(for="year") Year Made:
      input.form-control(id = "year" for = "year" name = "year" type = "text" value=(undefined===movie ? '' : movie.year_made))

      label(for = "summary") Summary:
      input.form-control(id = "summary" for  = "summary" name = "summary" type = "text" value=(undefined===movie ? '' : movie.summary))

      label(for = "cover") Cover Art URL (optional):
      input.form-control(id = "cover" for  = "cover" name = "cover" type = "text" value=(undefined===movie ? '' : movie.cover))
      br
      button.btn.btn-primary(type='submit') Update

    if errors
      ul
        for error in errors
          li!= error.msg