extends layout

block content
  h1=`Are you sure you want to delete ${movie.title}?`

  div.d-flex
    form(action= '' method = "POST") 
      button.btn.btn-primary(type='submit') Yes
    button.btn.btn-primary 
      a(href=movie.url) No


