body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgb(24, 23, 23);
  color: whitesmoke;
  
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}


.list{
  height: 95%;
  width: 90%;
  border-radius: 10px;
  border: 1px solid black;
}

img.list{
  box-shadow: rgba(203, 206, 209, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: transform .2s; /* Animation */
}

img.list:hover{
  /* border: 1px solid red; */
  transform: scale(1.075);
}

.img-container{
  height: 300px;
  width: 250px;
  margin: 5px;
}

li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: x-large;
}

li a:hover{
  background-color: whitesmoke;
  color:rgb(48,48,48);
  border: .5px solid black;
  border-radius: 5px;
}

.detail{
  height: 400px;
  width: 350px;
}

.btn-primary{
  background-color:rgb(24, 23, 23);
  border: none;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.btn-primary a{
  color: whitesmoke;
}

.btn-primary:hover{
  background-color: whitesmoke;
  color:rgb(24, 23, 23);
}

.btn-primary:hover a{
  background-color: whitesmoke;
  color:rgb(24, 23, 23);
}