body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}


.list{
  height: 95%;
  width: 90%;
  border-radius: 10px;
  border: 1px solid red;
}

.img-container{
  height: 300px;
  width: 250px;
  margin: 5px;
}